body {
  margin: 0;
  background: #000 url("https://miro.medium.com/max/1400/1*5lyavS59mazOFnb55Z6znQ.webp");
  overflow: auto;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
